site_name: Animation:Master SDK
site_url: https://openanimationlibrary.github.io/amsdk
repo_url: https://github.com/OpenAnimationLibrary/amsdk
strict: false

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - tables
  - attr_list
  - def_list
  - footnotes

# Start simple: let MkDocs auto-generate the nav from files.
# If you later want a curated sidebar, we can add a proper 'nav:'.
# nav:
#   - Home: index.md
