#include <afxres.h>
#include "resource.h"

IDD_MAKEABONE DIALOGEX 0, 0, 268, 130
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MakeaBone"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Model coordinates (cm)", -1, 12, 10, 240, 12
    LTEXT "X", -1, 95, 30, 44, 10
    LTEXT "Y", -1, 151, 30, 44, 10
    LTEXT "Z", -1, 207, 30, 44, 10
    LTEXT "Start / origin", -1, 12, 48, 74, 12
    EDITTEXT IDC_START_X, 89, 45, 50, 15, ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT IDC_START_Y, 145, 45, 50, 15, ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT IDC_START_Z, 201, 45, 50, 15, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "End", -1, 12, 74, 74, 12
    EDITTEXT IDC_END_X, 89, 71, 50, 15, ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT IDC_END_Y, 145, 71, 50, 15, ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT IDC_END_Z, 201, 71, 50, 15, ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "Create", IDOK, 145, 103, 50, 17
    PUSHBUTTON "Cancel", IDCANCEL, 201, 103, 50, 17
END
